<div class="header--nav hide-max-md">
  <ul class="header--nav__container">
    <li class="header--nav__item">
      <a class="header--nav__link" href="#">
      <div class="header--nav__icon">
				<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use></svg>
			</div>
      home
      </a>
    </li>
    <li class="header--nav__item"><a class="header--nav__link orange-bold" href="#">buy</a></li>
    <li class="header--nav__item"><a class="header--nav__link green-bold" href="#">rent</a></li>
    <li class="header--nav__item"><a class="header--nav__link" href="#">sell</a></li>
    <li class="header--nav__item"><a class="header--nav__link" href="#">let</a></li>
    <li class="header--nav__item"><a class="header--nav__link" href="#">contact</a></li>
    <li class="header--nav__item"><a class="header--nav__link" href="#">news & events</a></li>
  </ul>
</div>
