{{> util/svgsprite}}

<div class="header--contact theme--orange">
  <ul class="header--contact__nav">
    <li class="header--contact__nav-item item--contact">
      <div class="header--contact__icon">
				<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-alt"></use></svg>
			</div>
      <span>01252 838 899</span>
    </li>
    <li class="header--contact__nav-item item--email">
      <div class="header--contact__icon">
				<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-alt"></use></svg>
			</div>
      <span>info@luffandwilkin.co.uk</span>
    </li>
  </ul>
</div>
