{{> util/svgsprite}}

<div class="header theme--orange">
  <div class="header--container">
    <div class="header--btn__search hide-min-lg">
      <button><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use></svg></button>
    </div>
      {{> header/header-contact }}
      {{> header/header-nav }}
    <div class="header--btn__sidenav hide-min-lg">
      <button><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></button>
      <!-- <button><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></button> -->
    </div>
  </div>
</div>
