<div class="header--contact">
  <ul class="header--contact__container">
    <li class="header--contact__item">
      <a href="#" class="header--contact__link item--contact">
        <div class="header--contact__icon">
  				<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mobile"></use></svg>
  			</div>
        <span>01252 838 899</span>
      </a>
    </li>

    <li class="header--contact__item">
      <a href="#" class="header--contact__link item--email">
      <div class="header--contact__icon">
				<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plane"></use></svg>
			</div>
      <span>info@luffandwilkin.co.uk</span>
      </a>
    </li>
  </ul>
</div>
