#map {
	width: 100%;
	height: 500px;
}

.map {
	overflow: hidden;
	margin: 3.5rem 0 5rem;

	@media(min-width: @lg-min) {
		margin: 7.5rem 0 10rem;
	}

	&--container {
		.container();
		.flex-direction(column);

		padding: 0 1.5rem;

		@media(min-width: @md-min) {
			padding: 0 3rem;
		}

	}

	&__control {
		.flexbox();
		.justify-content(end);
		.flex-direction(column);
		width: 100%;

		@media(min-width: @sm-min) {
			.flex-direction(row);
		}

		@media(min-width: @md-min) {
			.justify-content(end);
			margin: 0;
		}

	}

	h1 {
		color: @orange-default;
		.font-light;
	}

	.btn-map-all,
	.btn-map-rent,
	.btn-map-sell {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		margin: 0 0.5px;
		padding: 0.6rem 1.8rem;

		svg {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.btn-map-all {
		background: @lightest-gray;
		color: @dark-gray;
		fill: @dark-gray;
	}

	.btn-map-rent {
		background: @green-light;
	}

	.btn-map-sell {
		background: @orange-light;
	}

	.btn-map-rent,
	.btn-map-sell {
		color: #ffffff;
		fill: #ffffff;
	}

	.map__bottom-title {
		margin-top: 3.5rem;

		@media(min-width: @lg-min) {
			 margin-top: 7rem;
		}

		h3 {
			font-size: 2.2rem;
		}
	}

	.map__bottom-content {
		color: @dark-gray;
		font-size: 1.4rem;

		-webkit-column-count: 1;
		     -moz-column-count: 1;
		          column-count: 1;

		  -webkit-column-gap: 30px;
		     -moz-column-gap: 30px;
		          column-gap: 30px;

		@media(min-width: @md-min) {
		 -webkit-column-count: 2;
		     -moz-column-count: 2;
		          column-count: 2;

		  -webkit-column-gap: 30px;
		     -moz-column-gap: 30px;
		          column-gap: 30px;
		}

		  @media(min-width: @lg-min) {
		    -webkit-column-count: 3;
		       -moz-column-count: 3;
		            column-count: 3;

		    -webkit-column-gap: 23px;
		       -moz-column-gap: 23px;
		            column-gap: 23px;
		  }

		.contact-rent,
		.contact-sales {
			font-size: 1.8rem;
		}
	}

}
