select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
    display: block;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: @line-height;
    color: @input-color;
    background-color: @input-bg;
    background-image: none;
    border: 1px solid @input-border;
    font-family: @font-family;

    .placeholder();

    &[disabled],
    &[readonly]{
        cursor: not-allowed;
        background-color: @input-bg-disabled;
        opacity: 1;
        color: @input-disabled-color;
        .placeholder(@input-disabled-color);
    }
}


// valuation 

.valuation--container {
    & > form {
        width: 100%;
    }
}

.form-container {
    margin-bottom: 2.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-submit {
    margin-top: 5.9rem;
}

.form-content {
    .flexbox();
    .flex-direction(column);
    .justify-content(space-between);

    @media(min-width: @sm-min) {
        .flex-direction(row); 
    }
        

    .form-item {
        .flexbox();
        .align-items(baseline);
        width: 100%;
        padding: 1rem 0;
        position: relative;
        .flex-direction(column);

        @media(min-width: @xs-min) {
            .flex-direction(column);
            .align-items(baseline);
        }

        @media(min-width: @sm-min) {
            width: 32rem;
            .flex-direction(row);
            .align-items(center);
        }

        @media(min-width: @md-min) { 
            width: 46rem;
            .flex-direction(row);
            .align-items(center);
        }

        &.form-radio-container {
            @media(min-width: @sm-min) {
                .align-items(baseline);
            }
        }
            

        .isRequired {
            width: 100%;
            position: relative;

            @media(min-width: @sm-min) {
                width: 46rem;
            }
                
        }

        select {
            width: 8rem;
            border-radius: 0px;
            border: 0;
            position: relative;
            z-index: 2;
            background: 0 0;
        }

        textarea {
            min-height: 12.7rem;
            font-size: 1.5rem;
            color: @green-default;
        }

        textarea::-webkit-input-placeholder {
            color: @green-default;
        }

        textarea::-moz-placeholder {
            color: @green-default;
        }

        input::-moz-placeholder {
            color: @green-default;
        }

        input {
            font-size: 1.5rem;
        }

        & > label {
            margin-bottom: 1rem;
            margin-right: 3rem;
            font-size: 1.5rem;
            width: 10.5rem;
        }

        .radio--group {
            .flex-direction(column);
            .align-items(baseline);
            .justify-content(space-between);

            @media(min-width: @xs-min) {
                .flex-direction(row);
            }
                

            @media(min-width: @sm-min) {
                .flex-direction(column);
                .align-items(baseline);
            }

            @media(min-width: @lg-min) {
                .flex-direction(row); 
            }

            .radio {
                margin-bottom: 1rem;
            }
                
        }

        .radio { 

            @media(min-width: @sm-min) {
                margin-bottom: 1rem !important; 
            }
                

            & > label {
                padding: 0;
                //margin: 0;
                //width: 14rem;

                span {
                    font-family: 'Aileron';
                    font-size: 1.5rem;
                    text-transform: capitalize;
                    max-width: 9.5rem;
                }

                label {
                    top: 0;
                }
            }
        }

        .placeholder {
            position: absolute;
            left: 0;
            color: @green-default;
            font-size: 1.5rem;
            line-height: 3.6rem;
            padding: 0 1.2rem;
        }

        .red {
            color: red;
            font-size: 1.2rem;
            position: relative;
            top: -5px;
        }

        &.form-valuation-type {
            .radio:first-child {
                width: 17rem;
                .flexbox();
                .justify-content(start);
            }
        }

        .title-filter {
            height: 3.4rem;
            position: relative;
            margin-bottom: 2rem;

            @media(min-width: @xs-min) {
                margin-bottom: 0;
            }
                

            @media(min-width: @xs-min) {
                margin-right: 3rem;
            }
                

            svg {
                position: absolute;
                top: 0;
                right: 1.2rem;
                z-index: 2;
                height: 34px;
            }
        }
    }

    .form-group.form-group--wide {
        .form-item {

            width: 100%;

            @media(min-width: @sm-min) {
                width: 36rem; 
            }

            @media(min-width: @md-min) { 
                width: 41rem;
            }

            @media(min-width: @lg-min) { 
                width: 55.6rem;
            }
                
        }

        .isRequired { 

            width: 100%;

            @media(min-width: @sm-min) {
                width: 36rem; 
            }

            @media(min-width: @md-min) { 
                width: 41rem;
            }

            @media(min-width: @md-min) { 
                width: 55.6rem;
            }
        }
    }
}