.content-area--intro {
  overflow: hidden;
  padding: 0 15px;

  @media(min-width: @md-min){
    padding: 0 30px;
  }

  .container();
    text-align: center;
    margin: 4rem auto;

    @media(min-width: @md-min) {
      margin: 4rem auto;
    }

    @media(min-width: @lg-min) {
      margin: 78px auto;
    }

  .main--title {
    font-size: 3.4rem;
    width: 100%;
    color: @dark-gray;
  }
  .main--content {
    color: @gray;
    font-size: 1.8rem;

    @media(min-width: @lg-min) {
      font-size: 2.0rem;
    }
  }
}
