<div class="search-filter--form">
  <form action="#" class="theme--orange">
    <div class="search-filter--range__label font-orange">range:</div>
    <div id="slider-snap-value-lower"></div>
    <div id="slider"></div>
    <div id="slider-snap-value-upper"></div>
    <div class="bn-form-group">
      <input type="text" placeholder="Country/Town/Postcode">
    </div>
    <button class="btn">
      <div class="btn--icon">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-btn"></use></svg>
      </div>
    </button>
  </form>
</div>
<div class="search-filter--map">
  <button class="btn">
    <span>Map Search</span>
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use></svg>
  </button>
</div>
</div>
