{{> util/svgsprite}}

<div class="pagination">
	<div class="pagination--container">
		<a href="#" class="link link-prev">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg> PREV
		</a>
		<ul>
			<li class="pagination__item"><a href="#">1</a></li>
			<li class="pagination__item"><a href="#">2</a></li>
			<li class="pagination__item"><a href="#">3</a></li>
			<li class="pagination__item"><a href="#">4</a></li>
			<li class="pagination__item"><a href="#">5</a></li>
		</ul>
		<a href="#" class="link link-next">
			NEXT <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg>
		</a>
	</div>
</div>