/*
** Header Navigation section
*/

.header--nav {

  a {
    text-decoration: none;
  }

  .header--nav__container {
    color: @nav-header;
    margin: 1.5rem 0;
    display: table;

    @media(min-width: @lg-min){
      margin: 2.5rem 0;
    }
  }

  .header--nav__item {
    display: table-cell;
    padding-right: 2rem;

    &:last-child {
      margin-right: 0;
      paddin-right: 0;
    }
  }

  .header--nav__link {
    text-transform: uppercase;
    font-size: 1.8rem;
    .flexbox();
    .align-items(baseline);
    color: @gray;

    .header--nav__icon {
      fill: @light-gray;
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.5rem;
      position: relative;
      top: 0.3rem;

      svg {
        height: inherit;
        width: inherit;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .green-bold,
  .orange-bold {
    font-family: 'Aileron Bold'
  }

  .orange-bold {
    color: @orange-theme;
  }

  .green-bold {
    color: @green-theme;
  }

}
