/*
** Header Module
*/


.header {
  background-color: #fafcf6;
  padding: 0 15px;

  @media(min-width: @md-min){
    padding: 0 30px;
  }

  @media(min-width: @lg-min){
    padding: 0 30px;
  }

  &--container {
    .container();
    .flexbox();
    .justify-content(space-between);
    height: 60px;

    @media(min-width: @lg-min){
      height: 82px;
    }
  }

  .header--contact__container,
  .header--nav__container {
    margin: 15px 0;

    @media(min-width: @lg-min){
      margin: 20px 0;
    }
  }

  .header--btn__search,
  .header--btn__sidenav {
    button {
      width: 24px;
      height: 24px;
      position: relative;
      top: 18px;
    }

    svg {
      height: inherit;
      width: inherit;
    }
  }

  ul li {
    list-style-type: none;
  }

}


//orange theme
.theme--orange {
  .header--contact__link {
    color: @orange-default;
  }

  .header--btn__search,
  .header--btn__sidenav {
    button {
      stroke: @orange-default;
      fill: none;
    }
  }
}

.theme--green {
  .header--contact__link {
    color: @green-default;
  }

  .header--btn__search,
  .header--btn__sidenav {
    button {
      stroke: @green-default;
      fill: none;
    }
  }
}
