/*
** Header Contact section
*/
.header--contact {

  .header--contact__item {
    display: inline-block;
    line-height: 1.6rem;
  }

  .header--contact__container {
    margin: 19px 0;

    @media(min-width: @lg-min){
      margin: 28px 0;
    }
  }

  .header--contact__link{
    .flexbox();
    align-items: center;
    font-family: @font-family;
    margin-right: 0;
    text-decoration: none;

    &.item--contact {
      font-size: 2.2rem;

      @media(min-width: @lg-min){
        font-size: 2.4rem;
        margin-right: 25px;
      }
    }

    &.item--email {
      font-size: 1.8rem;
      display: none;

      @media(min-width: @lg-min){
        display: flex;
      }
    }

  }

  .header--contact__icon {
    fill: @gray;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;

    svg {
      height: inherit;
      width: inherit;
    }
  }

}
