<section class="content-area">
  <div class="content-area--intro">
    <h1 class="main--title font-light"><span class="font-green">Luff</span> & <span class="font-orange">Wilkin</span>... continuing to strive</h1>
    <div class="main--content">
      <p> Over many years we have become well known within the industry and have built up a reputation for providing a professional, quality service to Buyers, Sellers, Tenants and Landlords alike.</p>
      <p class="font-bold">We will continue to strive to provide a friendly and efficient service to create results for our clients.</p>
    </div>
  </div>
</section>
