<section class="hero orange-theme">
  <div class="hero--container">
    <div class="hero--container__logo">
      <img src="../../resources/imgs/LW-logo-white-01.svg" alt="Luff and Wilkin" class="hero--image">
    </div>
    <div class="hero--container__tagline">looking to buy?</div>
  </div>
</section>

<section class="hero green-theme">
  <div class="hero--container">
    <div class="hero--container__logo">
      <img src="../../resources/imgs/L-logo-white-01.svg" alt="Luff Associates" class="hero--image">
    </div>
    <div class="hero--container__tagline">looking to rent?</div>
  </div>
</section>
