<div class="side-search hide-min-lg">
  <div class="search-filter--container">
    <div class="radio--group">
        <div class="radio radio--buy">
            <label>
                <span class="font-bold font-white">Buy</span>
                <input type="radio" name="side-search-choice" value="buy" checked="checked"><label></label>
            </label>
        </div>
        <div class="radio radio--sell">
            <label>
                <span class="font-bold font-white">Rent</span>
                <input type="radio" name="side-search-choice" value="sell"><label></label>
            </label>
        </div>
    </div>
    <div class="search-filter--form">
      <form action="#" class="theme--green">
        <div class="search-filter--range__label">price range:</div>

        <div class="slider--value">
          <div id="slider-snap-value-lower" class="font-bold"></div>
          <span>to</span>
          <div id="slider-snap-value-upper" class="font-bold"></div>
        </div>

        <div id="slider"></div>

        <div class="bn-form-group">
          <input type="text" placeholder="Country/Town/Postcode">
        </div>
        <button class="btn">
            <span>Search</span>
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-btn"></use></svg>
        </button>
      </form>
    </div>
    <div class="search-filter--map">
      <button class="btn">
        <span>Map Search</span>
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use></svg>
      </button>
    </div>

  </div>
</div>
