{{> util/svgsprite}}
<footer class="footer">
  <div class="footer--container">
    <div class="footer--container__logo hide-min-md">
      <div class="footer__logos">
        <img src="./resources/imgs/LW-logo-colour-01.svg" alt="Luff & Wilkin">
        <img src="./resources/imgs/L-logo-green-01.svg" alt="Luff & Wilkin">
      </div>
    </div>
    <div class="footer--container__nav">
      <ul class="footer--nav">
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">home</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">buy</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">sell</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">rent</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">let</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">offices</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">about</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">blog</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange font-bold">contacts</a></li>
      </ul>
    </div>
    <div class="footer--container__nav hide-max-md">
      <ul class="footer--nav footer--nav__social">
        <li class="footer--nav__item-social"><a href="#facebook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
        <li class="footer--nav__item-social"><a href="#pinterest"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use></svg></a></li>
        <li class="footer--nav__item-social"><a href="#twitter"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
        <li class="footer--nav__item-social"><a href="#vimeo"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vimeo"></use></svg></a></li>
        <li class="footer--nav__item-social"><a href="#instagram"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
        <li class="footer--nav__item-social"><a href="#googleplus"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googleplus"></use></svg></a></li>
      </ul>
    </div>
  </div>

  <div class="isMobile hide-min-md">
    <div class="footer--container">
      <div class="footer--container__info">
        <div class="footer__address"><p>1-3 Guildford Road, Frimley Green, Near Camberley, Surrey, GU16 6NL</p></div>
        <div class="footer__names font-light">
          <p>
            <span class="font-bold">Mr David Wilkin</span> (Director)<br />
            <span class="font-bold">Mrs Mary Luff</span> (Director)
          </p>
        </div>
        <div class="footer__contacts">
          <a href="#" class="font-orange">info@luffandwilkin.co.uk</a><br />
           <span>tel:</span> <a href="#" class="font-orange">01252 838899</a>
           <span>fax:</span> <a href="" class="font-orange">01252 838858</a>
        </div>
      </div>
    </div>
    <div class="footer--container">
      <div class="footer--container__nav">
        <ul class="footer--nav footer--nav__social">
          <li class="footer--nav__item-social"><a href="#facebook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
          <li class="footer--nav__item-social"><a href="#pinterest"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use></svg></a></li>
          <li class="footer--nav__item-social"><a href="#twitter"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
          <li class="footer--nav__item-social"><a href="#vimeo"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vimeo"></use></svg></a></li>
          <li class="footer--nav__item-social"><a href="#instagram"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
          <li class="footer--nav__item-social"><a href="#googleplus"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googleplus"></use></svg></a></li>
        </ul>
        <div class="footer--copyright">
          <p class="font-bold">© Luff & Wilkin - Property Specialists 2016</p>
          <p>Website design & build by <a href="#" class="font-orange">Servon Design Ltd</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="isTablet hide-min-lg hide-max-sm">
    <div class="footer--container">
      <div class="footer--container__info">
        <div class="footer__address">
          <p>1-3 Guildford Road</p>
          <p>Frimley Green</p>
          <p>Near Camberley</p>
          <p>Surrey, GU16 6NL</p>
          <p>Surrey, GU16 6NL</p>
          <p>info@luffandwilkin.co.uk</p>
        </div>
        <div class="footer__names font-light">
          <div>tel:<a href="#" class="font-orange">01252 838899</a></div>
          <div>fax:<a href="" class="font-orange">01252 838858</a></div>
          <p><span class="font-bold">Mr David Wilkin</span> (Director)</p>
          <p><span class="font-bold">Mrs Mary Luff</span> (Director)</p>
        </div>
        <div class="footer__copyright">
          <ul class="footer--nav footer--nav__social">
            <li class="footer--nav__item-social"><a href="#facebook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
            <li class="footer--nav__item-social"><a href="#pinterest"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use></svg></a></li>
            <li class="footer--nav__item-social"><a href="#twitter"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
            <li class="footer--nav__item-social"><a href="#vimeo"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vimeo"></use></svg></a></li>
            <li class="footer--nav__item-social"><a href="#instagram"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
            <li class="footer--nav__item-social"><a href="#googleplus"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googleplus"></use></svg></a></li>
          </ul>
          <p class="font-bold">© Luff & Wilkin - Property Specialists 2016 <span></span></p>
          <p>Website design & build by <a href="#" class="font-orange">Servon Design Ltd</a></p>
          <div class="footer--container__logo">
            <div class="footer__logos">
              <img src="./resources/imgs/LW-logo-colour-01.svg" alt="Luff & Wilkin">
              <img src="./resources/imgs/L-logo-green-01.svg" alt="Luff & Wilkin">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="isDesktop hide-max-md">
    <div class="footer--container">
      <div class="footer--container__info">
        <div class="footer__address">
          <p>1-3 Guildford Road</p>
          <p>Frimley Green</p>
          <p>Near Camberley</p>
          <p>Surrey, GU16 6NL</p>
        </div>
        <div class="footer__contacts font-light">
          <a href="#" class="font-orange">info@luffandwilkin.co.uk</a>
          <div>tel:&nbsp;<a href="#" class="font-orange">01252 838899</a></div>
          <div>fax:&nbsp;<a href="" class="font-orange">01252 838858</a></div>
        </div>

        <div class="footer__names">
          <p><span class="font-bold">Mr David Wilkin</span> (Director)</p>
          <p><span class="font-bold">Mrs Mary Luff</span> (Director)</p>
        </div>

      </div>
      <div class="footer--container__copyright">
        <p><span class="font-bold">© Luff & Wilkin - Property Specialists 2016</span> | Website design & build by <a href="#" class="font-orange">Servon Design Ltd</a></p>
        <div class="footer--container__logo">
          <div class="footer__logos">
            <img src="./resources/imgs/LW-logo-colour-01.svg" alt="Luff & Wilkin">
            <img src="./resources/imgs/L-logo-green-01.svg" alt="Luff & Wilkin">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
