<footer class="footer">
  <div class="footer--container">
    <div class="footer--container__nav">
      <ul class="footer--nav container">
        <li class="footer--nav__item"><a href="#" class="font-orange">home</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange">buy</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange">sell</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange">rent</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange">let</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange">offices</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange">about</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange">blog</a></li>
        <li class="footer--nav__item"><a href="#" class="font-orange">contacts</a></li>
      </ul>
    </div>
    <div class="footer--container__nav">
      <ul class="footer--nav">
        <li class="footer--nav__item"><a href="#">f</a></li>
        <li class="footer--nav__item"><a href="#">f</a></li>
        <li class="footer--nav__item"><a href="#">f</a></li>
        <li class="footer--nav__item"><a href="#">f</a></li>
        <li class="footer--nav__item"><a href="#">f</a></li>
        <li class="footer--nav__item"><a href="#">f</a></li>
      </ul>
      <div class="footer--copyright">
        <p>© Luff & Wilkin - Property Specialists 2016</p>
        <p>Website design & build by Servon Design Ltd</p>
      </div>
    </div>
  </div>
</footer>
