.hero {
  overflow: hidden;
  margin-top: -6rem;

  @media(min-width: @lg-min) {
    margin-top: -8.2rem;
  }

  &.hero-small {
    .hero--container {
      height: 31.2rem;

      @media(min-width: @lg-min) {
        height: 34.2rem;
      }
    }

    .hero--image {
      @media(min-width: @lg-min) {
        height: 11.2rem;
        max-width: 12.6rem;
        margin: 0 1.5rem;
      }
    }

    .hero--container__tagline {
      font-size: 3.4rem;
      @media(min-width: @lg-min) {
        font-size: 3.9rem;
      }
    }
  }

  &--container {
    height: 24.8rem;
    text-align: center;
    .container();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);
    padding-top: 6rem;

    //gradient
    background-image: -moz-radial-gradient(top, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-radial-gradient(top, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-radial-gradient(top, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(at top, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%);

    @media(min-width: @md-min){
      height: 40rem;
    }

    @media(min-width: @lg-min){
      height: 67.8rem;
      padding-top: 8.2rem;
    }
  }

  .hero--container__logo,
  .hero--container__tagline {
    display: block;
  }

  .hero--container__tagline {
    font-family: 'Aileron Light';
    color: #ffffff;
    font-size: 3.8rem;

    @media(min-width: @md-min){
      font-size: 7.5rem;
    }

    @media(min-width: @lg-min){
      font-size: 12rem;
    }
  }

  .hero--image {
    width: 100%;
    height: auto;
    max-width: 8rem;
    margin: 0 1.5rem;
    display: inline-block;

    @media(min-width: @md-min){
      max-width: 12rem;
    }

    @media(min-width: @lg-min){
      max-width: 20rem;
      margin: 0 3rem;
    }
  }

}

.theme--default {
  .hero--container__buy,
  .hero--container__rent {
    display: none;
  }

  .hero--container__default {
    display: block;
    margin: 0 auto;
  }

  .hero {
    background: #afd469;
    background-size: 100% 100%;

    @media(min-width: @md-min){
      background: url(../imgs/hero-green.jpg) no-repeat center;
      background-size: cover;
    }
  }
}

.theme--orange {

  .hero--container__default,
  .hero--container__rent {
    display: none;
  }

  .hero--container__buy {
    display: block;
    margin: 0 auto;
  }

  .hero {
    background: #ed9f37;
    background-size: 100% 100%;

    @media(min-width: @md-min){
      background: url(../imgs/hero-orange.jpg) no-repeat center;
      background-size: cover;
    }
  }

}

.theme--green {

  .hero--container__default,
  .hero--container__buy {
    display: none;
  }

  .hero--container__rent {
    display: block;
    margin: 0 auto;
  }

  .hero {
    background: #afd469;
    background-size: 100% 100%;

    @media(min-width: @md-min){
      background: url(../imgs/hero-green.jpg) no-repeat center;
      background-size: cover;
    }
  }

}
