.hero {

  &.hero-small {
    .hero--container {
      height: 23rem;

      @media(min-width: @lg-min) {
        height: 26rem;
      }
    }

    .hero--image {
      @media(min-width: @lg-min) {
        height: 11.2rem;
      }
    }

    .hero--container__tagline {
      font-size: 3.4rem;
      @media(min-width: @lg-min) {
        font-size: 3.9rem;
      }
    }
  }

  &--container {
    height: 188px;
    text-align: center;
    .container();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);

    @media(min-width: @md-min){
      height: 340px;
    }

    @media(min-width: @lg-min){
      height: 596px;
    }
  }

  .hero--container__logo,
  .hero--container__tagline {
    display: block;
  }

  .hero--container__tagline {
    font-family: 'Aileron Light';
    color: #ffffff;
    font-size: 38px;

    @media(min-width: @md-min){
      font-size: 75px;
    }

    @media(min-width: @lg-min){
      font-size: 121px;
    }
  }

  .hero--image {
    width: 100%;
    height: auto;
    max-width: 80px;

    @media(min-width: @md-min){
      max-width: 120px;
    }

    @media(min-width: @lg-min){
      max-width: 200px;
    }
  }

}

.theme--orange .hero {
  background: #ed9f37;
  background-size: 100% 100%;

  @media(min-width: @md-min){
    background: url(../imgs/hero-orange.jpg) no-repeat center;
    background-size: cover;
  }
}

.theme--green .hero {
  background: #afd469;
  background-size: 100% 100%;

  @media(min-width: @md-min){
    background: url(../imgs/hero-green.jpg) no-repeat center;
    background-size: cover;
  }
}
