<section class="featured-content">
  <div class="featured-content--container">
    <div class="container">
      <h2 class="font-orange font-light">Featured Properties</h2>
    </div>
    <div class="featured-item--container container">
        <div class="featured__item theme--green">
          <div class="featured__image is-featured">
            <div class="featured__icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg></div>
            <img src="../../resources/imgs/hero-green.jpg" />
            <div class="featured__subinfo">
              <div class="featured__price">Per month: <span class="featured__price-value font-bold">£1,950</span></div>
              <div class="featured__cta hide-min-lg"><button class="btn">i</button></div>
            </div>
          </div>
          <div class="featured__info">
            <h3 class="featured__name">Town House Mews</h3>
            <p class="featured__desc">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p>
            <button class="btn">More Details</button>
          </div>
        </div>
        <div class="featured__item theme--orange">
          <div class="featured__image is-featured">
            <div class="featured__icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg></div>
            <img src="../../resources/imgs/hero-green.jpg" />
            <div class="featured__subinfo">
              <div class="featured__price">Per month: <span class="featured__price-value font-bold">£1,950</span></div>
              <div class="featured__cta hide-min-lg"><button class="btn">i</button></div>
            </div>
          </div>
          <div class="featured__info">
            <h3 class="featured__name">Town House Mews</h3>
            <p class="featured__desc">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p>
            <button class="btn">More Details</button>
          </div>
        </div>
        <div class="featured__item theme--green">
          <div class="featured__image is-featured">
            <div class="featured__icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg></div>
            <img src="../../resources/imgs/hero-green.jpg" />
            <div class="featured__subinfo">
              <div class="featured__price">Per month: <span class="featured__price-value font-bold">£1,950</span></div>
              <div class="featured__cta hide-min-lg"><button class="btn">i</button></div>
            </div>
          </div>
          <div class="featured__info">
            <h3 class="featured__name">Town House Mews</h3>
            <p class="featured__desc">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p>
            <button class="btn">More Details</button>
          </div>
        </div>
        <div class="featured__item theme--orange">
          <div class="featured__image is-featured">
            <div class="featured__icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg></div>
            <img src="../../resources/imgs/hero-green.jpg" />
            <div class="featured__subinfo">
              <div class="featured__price">Per month: <span class="featured__price-value font-bold">£1,950</span></div>
              <div class="featured__cta hide-min-lg"><button class="btn">i</button></div>
            </div>
          </div>
          <div class="featured__info">
            <h3 class="featured__name">Town House Mews</h3>
            <p class="featured__desc">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p>
            <button class="btn">More Details</button>
          </div>
        </div>
        <div class="featured__item theme--green">
          <div class="featured__image is-featured">
            <div class="featured__icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg></div>
            <img src="../../resources/imgs/hero-green.jpg" />
            <div class="featured__subinfo">
              <div class="featured__price">Per month: <span class="featured__price-value font-bold">£1,950</span></div>
              <div class="featured__cta hide-min-lg"><button class="btn">i</button></div>
            </div>
          </div>
          <div class="featured__info">
            <h3 class="featured__name">Town House Mews</h3>
            <p class="featured__desc">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p>
            <button class="btn">More Details</button>
          </div>
        </div>
        <div class="featured__item theme--orange">
          <div class="featured__image is-featured">
            <div class="featured__icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg></div>
            <img src="../../resources/imgs/hero-green.jpg" />
            <div class="featured__subinfo">
              <div class="featured__price">Per month: <span class="featured__price-value font-bold">£1,950</span></div>
              <div class="featured__cta hide-min-lg"><button class="btn">i</button></div>
            </div>
          </div>
          <div class="featured__info">
            <h3 class="featured__name">Town House Mews</h3>
            <p class="featured__desc">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p>
            <button class="btn">More Details</button>
          </div>
        </div>
    </div>
</section>
