<div class="side-nav">
  <ul class="side-nav__container">
    <li class="side-nav__item">
      <a class="side-nav__link" href="#">
      <div class="side-nav__icon">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use></svg>
      </div>
      home
      </a>
    </li>
    <li class="side-nav__item"><a class="side-nav__link font-bold" href="#">buy</a></li>
    <li class="side-nav__item"><a class="side-nav__link font-bold" href="#">rent</a></li>
    <li class="side-nav__item"><a class="side-nav__link" href="#">sell</a></li>
    <li class="side-nav__item"><a class="side-nav__link" href="#">let</a></li>
    <li class="side-nav__item"><a class="side-nav__link" href="#">contact</a></li>
    <li class="side-nav__item"><a class="side-nav__link" href="#">news & events</a></li>
  </ul>
</div>
