<div class="container">
	<div class="grid grid__example1">
		example 1 - a
		<p>2 columns on tablet</p>
	</div>
	<div class="grid grid__example1">
		example 1 - b
	</div>
</div>

<div class="container">
	<div class="grid grid__example2">
		example 2 - a
		<p>mixins using default, 1 column tablet</p>
	</div>
</div>


<div class="container">
	<div class="grid grid__example3">
		example 3 - a
		<p>mobile 1 column <br> tablet 2 columns <br> desktop 3 columns</p>
		<p>margin gutter</p>
	</div>
	<div class="grid grid__example3">
		example 3 - b
	</div>
	<div class="grid grid__example3">
		example 3 - c
	</div>
	<div class="grid grid__example3">
		example 3 - d
	</div>
	<div class="grid grid__example3">
		example 3 - e
	</div>
	<div class="grid grid__example3">
		example 3 - f
	</div>
</div>

<div class="container">
	<div class="grid grid__example4">
		example 4 - a
		<p>mobile 1 column <br> tablet 2 columns <br> desktop 3 columns</p>
		<p>padding gutter</p>
	</div>
	<div class="grid grid__example4">
		example 4 - b
	</div>
	<div class="grid grid__example4">
		example 4 - c
	</div>
	<div class="grid grid__example4">
		example 4 - d
	</div>
	<div class="grid grid__example4">
		example 4 - e
	</div>
	<div class="grid grid__example4">
		example 4 - f
	</div>
</div>

<div class="container">
	<div class="grid grid__example5">
		example 5 - a
		<p>2 columns tablet</p>
		<p>no gutter</p>
	</div>
	<div class="grid grid__example5">
		example 5 - b
	</div>
</div>

<div class="container">
	<div class="grid grid__example6">
		exmaple 6
		<p>push 2 columns, 4 column size</p>
		<p>margin gutter</p>
	</div>
	<div class="grid grid__example1">
		exmaple 1
	</div>

	<div class="grid grid__example1">
		example 1
	</div>
	<div class="grid grid__example1">
		example 1
	</div>

</div>
