.search-filter {
  overflow: hidden;
  background: #fefefe;

  &--container {
    .container();
    .align-items(center);
    .justify-content(space-between);
    height: 88px;
  }

  &--form {
    height: 100%;
    margin: 0 20px;
    width: 750px;

    form {
      .flexbox();
      .align-items(center);
      .justify-content(space-between);
      padding: 0 20px;
      margin: 25px 0;

      & > * {
        margin-left: 15px;

        &:first-child {
          margin-left: 0px;
        }
      }

      input::-webkit-input-placeholder {
        font-size: 1.4rem;
      }
    }

    .noUi-handle {
       box-shadow: none;
       border: none
     }
  }

  #slider-snap-value-lower,
  #slider-snap-value-upper {
    font-family: 'Aileron Bold';
  }

  &--map {

    .btn {
      .flexbox();
    }
    svg {
      width: 24px;
      height: 24px;
      margin-left: 5px;
    }
  }

  &--range__label {
    text-transform: uppercase;
    font-family: 'Aileron Bold';
    margin-left: 0;
  }

  #slider {
    width: 160px;
  }

  .btn {
    background: @dark-gray;
    color: #ffffff;
    font-size: 1.4rem;
  }

  .btn--icon {
    fill: #ffffff;
    width: 24px;
    height: 24px;
    position: relative;

    svg {
      height: inherit;
      width: inherit;
    }
  }

}


//orange theme
.theme--orange {

  .search-filter {
    border-bottom: 1px solid @orange-lightest;

    &--form {

      border-right: 1px solid @orange-lightest;
      border-left: 1px solid @orange-lightest;

    }
  }

  form.theme--orange {
    #slider-snap-value-lower,
    #slider-snap-value-upper {
      color: @orange-dark;
    }

    input,
    input::-webkit-input-placeholder,
    .search-filter--range__label {
      color: @orange-default;
    }

    .noUi-connect,
    .noUi-handle {
      background: @orange-dark;
    }
    .noUi-base {
      background: @orange-lightest;
    }
    .noUi-background {
      box-shadow: none;
      background: @orange-lightest;
    }
  }
}

//green theme
.theme--green,
.theme--default {

  .search-filter {
    border-bottom: 1px solid @green-lightest;

    &--form {

      border-right: 1px solid @green-lightest;
      border-left: 1px solid @green-lightest;

    }
  }

  form.theme--orange {
    #slider-snap-value-lower,
    #slider-snap-value-upper {
      color: @green-dark;
    }

    input,
    input::-webkit-input-placeholder,
    .search-filter--range__label {
      color: @green-default;
    }

    .noUi-connect,
    .noUi-handle {
      background: @green-dark;
    }
    .noUi-base {
      background: @green-lightest;
    }
    .noUi-background {
      box-shadow: none;
      background: @green-lightest;
    }
  }
}



@import 'radio';
@import 'range-slider';
